<table class="table">
    <tr>
        <th>Nome</th>
        <th>URL</th>
        <th>Mostrar Dados</th>
    </tr>

    <tr *ngFor="let p of pokemons?.results">
        <!-- <td> {{ letrasMaiusculas(p.name) }} </td> -->
        <td> {{ p.name | uppercase  }} </td>
        <td> <a [href]="p.url" target="blank"> {{p.url}} </a> </td>
        <td> <button class="btn btn-info" (click)="onSelecionarClick(p)" > Selecionar </button> </td>
    </tr>

</table>

<div class="row">
    <div class="col-5">
        <button class="btn btn-primary" (click)="anterior()" *ngIf="!isAnteriorDisabled()"> Anterior </button> 
        <button class="btn btn-primary" (click)="proximo()" [disabled]="isProximoDisabled()"> Próximo </button>
    </div>
</div>


<p>
    A quantidade de pokemons é igual a {{ pokemons?.count }}
</p>

<p>
    Limite {{ limit }}
</p>

<app-detalhe-pokemons
    *ngIf="pokemonSelecionadoPai"
    [pokemonSelecionadoDetalhe]="pokemonSelecionadoPai"
    (emitirIdPokemon)="receberIdFilho($event)"
></app-detalhe-pokemons>

<p>
    {{ diaDeHoje | date : 'dd/MM/yyyy' }}
</p>

